@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  font-family: "Roboto", sans-serf;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

/* Dark theme starts*/
body.dark {
    background-color: #1e272e;
  }
  
  body.dark .bar {
    background-color: #fff;
  }
  
  body.dark p{
    color: #fff;
  }
 
  
  body.dark h3 {
    color: #fff;
  }
  
  body.dark nav {
    background-color: #1e272e;
    box-shadow: 2px 3px 2px #111010;
  }
  /* Dark mode styles */
body.dark .dropbtn {
  color: var(--primary-color);
  background-color: #1e272e;
   /* Update text color for dark mode */
}

  
  body.dark ol {
    color: #f4fafe;
  }
  
  body.dark .name {
    color: var(--primary-color);
  }
  
  body.dark .role {
    color: var(--secondary-color);
  }
  
  body.dark footer {
    color: #fff;
    border-top: 1px solid #111010;
    box-shadow: 0px -2px 3px #111010;
  }
  /* Dark theme ends */
  
  /* Navbar starts */
  .student {
    color: var(--primary-color);
  }
  
  .portfolio {
    color: var(--secondary-color);
  }
  
  nav {
    background: #ffffff;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
  }

  /*Dropdown starts */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color:white;
  color: var(--primary-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: var(--bold-font);
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-shadow: 2px 3px 2px #f1f1f1;
}
.dropdown-content a:hover {
  background-color: #e6e6e6;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
  color: var(--secondary-color);
  
}
/*Dropdown ends */
  
  .logo {
    font-size: 2rem;
    font-weight: 500;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  
  .nav-link {
    font-weight: var(--bold-font);
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    background-color: #020202;
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
  }
  
  /* Dark theme switcher*/
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
    cursor: pointer;
  }
  
  .switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  .moon {
    color: #ffa502;
  }
  
  .sun {
    color: #ff4757;
  }
  
  .checkbox:checked + .label .switcher {
    transform: translateX(24px);
  }
  /* Dark theme switcher ends */
  /* Navbar ends */

/* Home section starts */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 1100px;
  margin: 0.5rem auto -6rem;
  margin-top: 10px;

}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home p {
  line-height: var(--line-height);
  margin-bottom: 4rem;
}

.home {
  color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    align-items: center;

}

.box {
    width: 200px;
    text-align: center;
    margin: left 0.5em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    height: 200px;
 
}

.box:hover {
    transform: scale(1.05);
    cursor: pointer;

}

.box img {
    width: 50px;
    margin-bottom: 10px;
    background-color:whitesmoke;
}

.btn {
  margin-top: -1rem;
  display: inline-block;
  padding: 0.8rem 0.6rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #fff;
}

.red {
  background-color: var(--secondary-color);
  margin-right: 2rem;
  display: inline-block;
}

.red:hover {
  background-color: #f1262d;
  color: #fff;
}

.blue {
  background-color: var(--primary-color);
  display: inline-block;
}

.blue:hover {
  background-color: #095cf7;
  color: #fff;
}

iframe {
  max-width: 30rem;
  border-top: 40px groove var(--primary-color);
  border-bottom: 40px groove var(--primary-color);
  border-right: 28px solid var(--secondary-color);
  border-left: 28px solid var(--secondary-color);
  margin-left: 0.8rem;
}

.stand-1 {
  height: 90px;
  width: 6px;
  background-color: var(--primary-color);
  transform: rotate(40deg);
  position: relative;
  top: -16px;
  left: 200px;
}
.stand-2 {
  height: 90px;
  width: 6px;
  background-color: var(--secondary-color);
  transform: rotate(-40deg);
  position: relative;
  top: -105px;
  left: 255px;
}
/* Home section ends */

/* About section start*/
.about {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 15rem 0;
}

.about h3 {
  font-size: 2em;
  margin-top: 40px;
}

.about p {
  font-size: 1em;
  margin-top: 80px;
}

.about h4 {
  font-size: 1em;
  margin-bottom: -2px;
}

.about p {
  font-size: 1em;
  margin-top: -4px;

}


.about ol {
    text-decoration:none;
}
.about .banner{
  width: 100%;
  height: 20vh;
  margin-top: 30rem;
}

/* About section ends */

/* Responsive Design */

/* Mobile Devices (max-width: 768px) */

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  header, nav, main, section, aside, footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

/* Tablets and Small Laptops (min-width: 769px) and (max-width: 992px) */

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 16px;
  }
  header, nav, main, section, aside, footer {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

/* Large Laptops and Desktops (min-width: 993px) */

@media only screen and (min-width: 993px) {
  body {
    font-size: 17px;
  }
  header, nav, main, section, aside, footer {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}


/* Subscription form starts */
.contact {
  margin-top: 38rem;
  height: 10vh;
  align-items: center;

}


.contact h3 {
  text-align: center;
}

.submit-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.3rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 0.8rem;
}

.submit-btn:hover {
  background-color: #095cf7;
}
/* Subscription form ends */

/* Social icons */
.social {
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.socicons {
  font-size: 1.3rem;
}

/* Footer */
footer {
  border-top: 1px solid #f1f1f1;
  box-shadow: 0px -2px 3px #f1f1f1;
  text-align: center;
  padding: 2rem;
}

/* Scroll to top button starts */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  ul {
    background-color: #fff;
    flex-direction: column;
    position: fixed;
    left: 100%;
    top: 5rem;
    width: 100%;
    text-align: center;
  }

  ul.active {
    left: 0;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .logo {
    font-size: 1.5rem;
  }

  .home {
    flex-direction: column;
    max-width: 500px;
  }

  .intro-text h1 {
    font-size: 2.3rem;
  }

  .btn {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  iframe {
    max-width: 26rem;
  }

  .stand-1 {
    left: 170px;
  }
  .stand-2 {
    left: 225px;
  }

  .about {
    text-align: center;
  }

  .persons {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .home {
    max-width: 330px;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  iframe {
    max-width: 330px;
  }

  .stand-1 {
    left: 140px;
  }
  .stand-2 {
    left: 195px;
  }
}
